@font-face {
  font-family: "fuenteMCF";
  src: url(../Assets/Font/Calligraffitti-Regular.ttf);
}
  /*formato general*/
*{
    font-size: 20px;
    padding: 0rem;
    margin: 0rem;
    font-family: Helvetica, Arial, sans-serif;
}