@media only screen and (min-width: 331px) and (max-width: 770px){
    header img{
      width: 45%;
    } 
    body{
      main{
        h1{
          font-size: 1.7rem;
          .encabezado{
            font-size: 1.5rem;
          } 
        }
        h2{
          font-size: 0.8rem;
        }
      }
      .whatsapp-img{
        width: 10%;
      }
    }   
    
    footer {
      ul li a{
        font-weight: 100;
        font-size: 0.6rem;
      }
      div{
        h4{
          font-size: 0.6rem;
        }
        h5{
          font-size: 0.5rem;
        }
      }
    }
    .servicios{
      display: block;
      h2{
        font-size: 1rem;
      }
      img{
        width: 60%;
        margin-left: 20%;
        margin-bottom: 5%;
      }
      p{
        font-size: 0.7rem;
        font-weight: 200;
      }
    }
  }