@import '../utilities/mixin';
body{
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #bbd594, #cacaca, white);
    li {
        list-style-type: none;
      }
    .whatsapp-img{
      @include imgwsp(5%, 50%);
    }
  }