@import '../utilities/mixin';
body{
  background: rgb(187,213,148);
  background: linear-gradient(135deg, rgba(187,213,148,1) 0%, rgba(202,202,202,1) 56%, rgba(255,255,255,1) 100%);
    li {
        list-style-type: none;
      }
    .whatsapp-img{
      @include imgwsp(5%, 50%);
    }
  }