body{
    background-color: #ffffff;
    li {
        list-style-type: none;
      }
    .whatsapp-img{
      width: 5%;
      border-radius: 50%;
      position: fixed;
      bottom: 3%;
      right: 5%;
    }
  }