// @import '../utilities/animation';
main{
    padding-bottom: 5%;
    h1 {
      text-align: center;
      color: #606859;
      font-family: helvetica, Arial, sans-serif; 
      font-size: 4rem;
      padding-top: 2%;
      text-shadow: 1px 1px 2px black;
      .encabezado{
        font-family: "fuenteMCF", helvetica, Arial, sans-serif;
        font-size: 4rem;
        font-weight: 600;
        color: $color-fmc;
        text-shadow: 1px 1px 2px black;
      }
    }
    h2 {
    text-align: center;
      // color : #007B4C;
      animation-name: cambioColor;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      animation-duration: 10s;
      animation-delay: 1s;
      text-shadow: 1px 1px 2px black;
    }
    p{
      margin-left: 3%;
      text-align: justify;
      width: 90%;
      font-size: 0.85rem;
    }
  }
  @keyframes cambioColor {
    0%{
        color: #0d1912;
    }
    15%{
        color: #133d28;
    }
    100%{
        color: #007B4C;
    }
}