.containerPlagas {
  h2{
    font-size: 1.9rem;
    text-align: center;
    text-decoration-line: underline;
    grid-column: 1/4;
    grid-row: 1/2;
    color: $color-fmc;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 5%;
  }
  p{
    margin: 0% 5%;
  }
  div{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    flex-wrap: wrap;
    img{
      border-radius: 5%;
      margin: 2%;
      &:hover{
        transition: all 3s;
        width: 30%;
      }
    }
  }
}