.containerPlagas {
  h2{
    @extend h2;
  }
  p{
    margin: 0% 5%;
  }
  div{
    display: flex;
    justify-content: space-between;
    margin: 5%;
    flex-wrap: wrap;
    img{
      border-radius: 5%;
      margin: 2%;
      &:hover{
        transition: 3s;
        width: 30%;
      }
    }
  }
}