.presentacion {
  h2{
    padding-left: 1%;
    color: $color-fmc;
    text-shadow: 1px 1px 2px black;
  }
    p{
     padding-left: 2%;
     padding-right: 2%;
     text-align: justify;
      b{
        font-family: "fuenteMCF", helvetica, Arial, sans-serif;
        color: $color-fmc;
      }
    }
}