@import '../utilities/extend';
.presentacion {
  h2{
    @extend h2;
  }
    p{
     padding-left: 2%;
     padding-right: 2%;
     text-align: justify;
      b{
        font-family: "fuenteMCF", helvetica, Arial, sans-serif;
        color: $color-fmc;
      }
    }
}